<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Races</title>
<meta http-equiv="Content-type" content="text/html" charset="UTF-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link rel="shortcut icon" type="image/x-icon"
	href="css/images/favicon.ico" />
<script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="js/jquery.jcarousel.js" type="text/javascript"></script>
<script src="js/jquery-func.js" type="text/javascript"></script>
</head>

<wicket:panel>

	<div id="footer-holder">
		<div class="shell">
			<div class="footer">
				<p class="lf">
					Andrew Zenov for <a href="http://www.epam.by/">EMAP</a> training
					&copy; 2015
				</p>
				<p class="rf">Кто не играет - то и не выигрывает</p>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>

</wicket:panel>

</html>