<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<wicket:panel>

	<wicket:enclosure child="home-page-link">

		<div id="navigation">
			<ul>
				<li><a wicket:id="home-page-link"><span>Главная</span></a><span
					class="arrow">&nbsp;</span></li>
				<li><a wicket:id="rates-page-link"><span>Ставки</span></a><span
					class="arrow">&nbsp;</span></li>
				<li><a wicket:id="result-page-link"><span>Результаты</span></a><span
					class="arrow">&nbsp;</span></li>

				<li><a wicket:id="rules-page-link"><span>Правила</span></a><span
					class="arrow">&nbsp;</span></li>
				<li><a wicket:id="about-us-page-link"><span>О нас</span></a><span
					class="arrow">&nbsp;</span></li>
			</ul>
		</div>


	</wicket:enclosure>



</wicket:panel>
</html>