<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<wicket:panel>

	

		<div id="navigation">
			<ul>
				<li><a wicket:id="admin-page-link"><span><wicket:message key="component.menuPanel.admin.home"/></span></a><span
					class="arrow">&nbsp;</span></li>
				<li><a wicket:id="rates-page-link"><span><wicket:message key="component.menuPanel.admin.rates"/></span></a><span
					class="arrow">&nbsp;</span></li>
				<li><a wicket:id="edit-page-link"><span><wicket:message key="component.menuPanel.admin.edit"/></span></a><span
					class="arrow">&nbsp;</span></li>

				<li><a wicket:id="rules-page-link"><span><wicket:message key="component.menuPanel.admin.rules"/></span></a><span
					class="arrow">&nbsp;</span></li>
				<li><a wicket:id="about-us-page-link"><span><wicket:message key="component.menuPanel.admin.aboutus"/></span></a><span
					class="arrow">&nbsp;</span></li>
			</ul>
		</div>




</wicket:panel>
</html>