<meta charset="utf-8" />
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

	<!--  wicket:enclosure child="home-page-link"-->

		<div id="navigation">
			<ul>
				<li><a wicket:id="home-page-link"><span><wicket:message key="component.menuPanel.player.home"/></span></a><span class="arrow">&nbsp;</span></li>
				<li><a wicket:id="rates-page-link"><span><wicket:message key="component.menuPanel.player.rates"/></span></a><span
					class="arrow">&nbsp;</span></li>
				<li><a wicket:id="result-page-link"><span><wicket:message key="component.menuPanel.player.results"/></span></a><span
					class="arrow">&nbsp;</span></li>

				<li><a wicket:id="rules-page-link"><span><wicket:message key="component.menuPanel.player.rules"/></span></a><span
					class="arrow">&nbsp;</span></li>
				<li><a wicket:id="about-us-page-link"><span><wicket:message key="component.menuPanel.player.aboutus"/></span></a><span
					class="arrow">&nbsp;</span></li>

			</ul>
		</div>


	<!-- wicket:enclosure-->

</wicket:panel>
</html>